html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}



@media (prefers-color-scheme: light) {
    :root {
        --blue: #0079FF;
        --gray-color: #697c9a;
        --icon-color: #4b6a9b;
        --h1-color: #2b3442;
        --bg-color: #f6f8ff;
        --div-bg: #fefefe;
        --search-color: #222731;
        --hover-color: #222731;
        ;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --blue: #0079FF;
        --gray-color: #ffffff;
        --bg-color: #141D2F;
        --div-bg: #1e2a47;
        --icon-color: #ffffff;
        --h1-color: #ffffff;
        --search-color: #ffffff;
        --hover-color: #90A4D4;
    }
}

:root {
    --blue: #0079FF;
    --gray-color: #697c9a;
    --icon-color: #4b6a9b;
    --h1-color: #2b3442;
    --bg-color: #f6f8ff;
    --div-bg: #fefefe;
    --search-color: #222731;
    --hover-color: #222731;
}

[data-theme="dark"] {
    --blue: #0079FF;
    --gray-color: #ffffff;
    --bg-color: #141D2F;
    --div-bg: #1e2a47;
    --icon-color: #ffffff;
    --h1-color: #ffffff;
    --search-color: #ffffff;
    --hover-color: #90A4D4;
}

body {
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.container {
    height: 616px;
    width: 730px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    width: 730px;
    height: 38px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-h1 {
    margin: 0;
    font-size: 26px;
    line-height: 39px;
    color: var(--search-color);
}

.switch-container {
    width: fit-content;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.theme {
    margin: 0;
    margin-right: 16px;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    text-align: right;
    letter-spacing: 2.5px;
    color: var(--gray-color);
}

.switch-container p:hover {
    color: var(--hover-color);
}

.theme-img {
    height: 20px;
    width: 20px;
    background-image: url('/assets/icon-moon.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.search-form {
    width: 730px;
    height: 69px;
    background-color: var(--div-bg);
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
    border-radius: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-css {
    background: var(--div-color);
    color: var(--search-color);
    width: 648px;
    height: 69px;
    border-radius: 28px;
    border: none;
    font-family: Space Mono;
    font-style: normal;
    font-weight: normal;
    padding-left: 80px;
    font-size: 18px;
    line-height: 25px;
}

.search-css::placeholder {
    color: var(--icon-color);
}

.search-img {
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url(/assets/icon-search.svg);
    left: 32px;
}

input:focus {
    outline: none;
}

.button {
    font-family: 'Space Mono', monospace;
    position: absolute;
    width: 106px;
    height: 50px;
    background: var(--blue);
    border-radius: 10px;
    border: none;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    right: 10px;
    cursor: pointer;
}

.button:hover {
    background: #60ABFF;
}

a:hover {
    text-decoration: underline !important;
}

.error-message {
    position: absolute;
    right: 140px;
    margin: 0;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    color: #F74646;
    display: none;
}

.info-container {
    position: relative;
    width: 634px;
    height: 348px;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
    border-radius: 15px;
    background-color: var(--div-bg);
    padding: 48px;
}

.picture-css {
    height: 117px;
    width: 117px;
    border-radius: 50%;
}

.date-joined {
    position: absolute;
    width: fit-content;
    height: 22px;
    right: 48px;
    top: 52px;
    color: var(--gray-color)
}

.name-link {
    height: 65px;
    width: fit-content;
    position: absolute;
    top: 44px;
    left: 202px;
}

.name-css {
    margin: 0;
    font-weight: bold;
    font-size: 26px;
    line-height: 39px;
    color: var(--h1-color);
}

.username-css {
    font-size: 16px;
    line-height: 24px;
    color: var(--blue);
}

.bio-css {
    position: absolute;
    width: 480px;
    height: fit-content;
    top: 129px;
    right: 48px;
    font-size: 15px;
    line-height: 25px;
    color: var(--icon-color);
}

.middle-div {
    position: absolute;
    right: 48px;
    top: 211px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 448px;
    height: 85px;
    background: var(--bg-color);
    padding-left: 32px;
    padding-right: 0px;
    border-radius: 10px;
}

.column {
    height: 53px;
    width: 139px;
    margin-right: 82px;
}

.middle-div__style {
    font-size: 13px;
    line-height: 19px;
    color: var(--icon-color);
    font-style: normal;
    font-weight: normal;
    margin: 0px;
}

.repos-css {
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    text-transform: uppercase;
    color: var(--h1-color);
    margin: 0;
}

.social-container {
    position: absolute;
    top: 324px;
    right: 48px;
    height: 81px;
    width: 480px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.location {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 277px;
}

.blog {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 277px;
}

.twitter {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 225px;
}

.company {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 225px;
}

.location-text-css {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    margin-left: 20px;
    color: var(--icon-color);
    width: 176px;
}

.blog-text-css {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    margin-left: 20px;
    color: var(--icon-color);
    width: 210px;
}

.twitter-text-css {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    margin-left: 20px;
    color: var(--icon-color);
    width: 146px;
}

.company-text-css {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    margin-left: 20px;
    color: var(--icon-color);
}

a:link {
    text-decoration: none;
}

.img-location {
    width: 20px;
    height: 20px;
    background-image: url("/assets/icon-location.svg");
    background-repeat: no-repeat;
    background-position: left;
}

.img-twitter {
    width: 20px;
    height: 20px;
    background-image: url("/assets/icon-twitter.svg");
    background-repeat: no-repeat;
    background-position: left;
}

.img-blog {
    width: 20px;
    height: 20px;
    background-image: url("/assets/icon-website.svg");
    background-repeat: no-repeat;
    background-position: left;
}

.img-company {
    width: 20px;
    height: 20px;
    background-image: url("/assets/icon-company.svg");
    background-repeat: no-repeat;
    background-position: left;
}

@media screen and (max-width: 1200px) {
    .container {
        height: 648px;
        width: 573px;
    }
    .header {
        width: 573px;
        height: 38px;
    }
    .search-form {
        margin: 36px 0px 24px 0px;
        width: 573px;
        height: 69px;
    }
    .search-css {
        width: 493px;
        height: 69px;
    }
    .info-container {
        width: 493px;
        height: 401px;
        padding: 40px
    }
    .date-joined {
        left: 198px;
        top: 121px;
    }
    .name-link {
        height: 67px;
        top: 52px;
        left: 198px;
    }
    .name-css {
        margin-bottom: 2px;
    }
    .bio-css {
        width: 493px;
        top: 181px;
        left: 40px;
    }
    .middle-div {
        right: 40px;
        top: 263px;
        width: 461px;
    }
    .social-container {
        position: absolute;
        top: 378px;
        left: 40px;
        height: 63px;
        width: 429px;
    }
    .location {
        width: 280px;
        margin-bottom: 13px;
    }
    .blog {
        width: 280px;
    }
    .twitter {
        width: 200px;
        margin-bottom: 13px;
    }
    .company {
        width: 200px;
    }
}

@media screen and (max-width: 767px) {
    .container {
        height: 667px;
        width: 327px;
    }
    .header {
        width: 327px;
        height: 38px;
    }
    .search-form {
        position: relative;
        margin: 36px 0px 24px 0px;
        width: 327px;
        height: 60px;
    }
    .search-img {
        width: 20px;
        height: 20px;
        left: 16px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .search-css {
        position: absolute;
        width: 184px;
        height: 25px;
        left: 45px;
        padding-left: 0px;
        font-size: 13px;
        line-height: 25px;
    }
    .button {
        width: 84px;
        height: 46px;
        font-size: 14px;
        line-height: 21px;
        right: 7px;
    }
    .info-container {
        width: 279px;
        height: 485px;
        padding: 32px 24px 0px 24px;
    }
    .picture-css {
        height: 70px;
        width: 70px;
        border-radius: 50%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .date-joined {
        height: 19px;
        font-size: 13px;
        line-height: 19px;
        left: 114px;
        top: 82px;
    }
    .name-link {
        height: 49px;
        top: 33px;
        left: 114px;
    }
    .name-css {
        margin: 0;
        font-size: 16px;
        line-height: 24px;
    }
    .username-css {
        font-size: 13px;
        line-height: 19px;
    }
    .bio-css {
        width: 279px;
        top: 135px;
        left: 24px;
    }
    .middle-div {
        left: 24px;
        top: 233px;
        width: 247px;
        height: 85px;
        padding-left: 20px;
    }
    .column {
        height: 48px;
        width: 100px;
        margin-right: 22px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .middle-div__style {
        font-size: 11px;
        line-height: 16px;
        margin: 0px;
        margin-bottom: 8px;
    }
    .repos-css {
        font-size: 16px;
        line-height: 24px;
        margin: 0;
    }
    .social-container {
        position: absolute;
        top: 342px;
        left: 24px;
        height: 125px;
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .location {
        width: 280px;
        margin-bottom: 0px;
    }
    .blog {
        width: 280px;
    }
    .twitter {
        width: 280px;
        margin-bottom: 0px;
    }
    .company {
        width: 280px;
    }
    .location-text-css {
        font-size: 13px;
        line-height: 19px;
        margin-bottom: 4px;
    }
    .blog-text-css {
        font-size: 13px;
        line-height: 19px;
    }
    .twitter-text-css {
        font-size: 13px;
        line-height: 19px;
        margin-left: 20px;
    }
    .company-text-css {
        font-size: 13px;
        line-height: 19px;
    }
}